<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zll.server.mapper.BookMapper">
    <update id="updateBook" parameterType="Book">
        update book
        <set>
            <if test="title != null and title != ''  ">title = #{title},</if>
            <if test="isbn != null and isbn != ''">isbn = #{isbn},</if>
            <if test="publisher != null and publisher != ''">publisher = #{publisher},</if>
            <if test="author != null and author != ''">author = #{author},</if>
            <if test="publishDate != null and publishDate != ''">publish_date = #{publishDate},</if>
            <if test="price != null and price != ''">price = #{price},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateUser != null and updateUser != ''">update_user = #{updateUser},</if>
            <if test="stock != null and stock != ''">stock = #{stock}</if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="Book">
        select * from book
        order by
        <choose>
            <when test="sort == 'title'">
                title, create_time desc
            </when>
            <when test="sort == 'publisher'">
                publisher, create_time desc
            </when>
            <when test="sort == 'author'">
                author, create_time desc-- 如果 author 相同，就按 create_time 排序
            </when>
            <otherwise>
                create_time desc -- 默认按创建时间降序排序
            </otherwise>
        </choose>
    </select>
</mapper>
